@{
    ViewData["Title"] = "Sterge Statie";
}
<h1>@ViewData["Title"]</h1>

<form>
  <div class="form-group">
    <label for="rid">ID</label>
    <input type="text" class="form-control" id="id" name="id" placeholder="Introdu id" required>

    <label for="nume">Nume</label>
    <input type="text" class="form-control" id="nume" name="nume" placeholder="Introdu nume">
  </div>
  <button type="submit" id="adauga" class="btn btn-primary">DELETE</button>
</form>

@section scripts {
<script>

    var nume = $('input[name="nume"]').val();


    $('#adauga').click(function (e) { 
        var serviceUrl = 'https://localhost:5001/api/stations/deletestation/' + id;
        var nume = $('input[name="nume"]').val();
        var id = $('input[name="id"]').val();

        const data = JSON.stringify(nume);
        console.log(nume);
        console.log("banana");
        var settings = {
            "url": "https://localhost:5001/api/stations/deletestation/" + id,
            "method": "DELETE",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "name": data }),
        };

        $.ajax(settings).done(function (response) {
            console.log(rang);
        });
    });
</script>
}

