
<div>

    <div class="btn-wrapper">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Trenuri">Trenuri</a>
       
            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Cautare">Cautare</a>
       
            <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Statii">Statii</a>
        
    </div>
</div>

@section scripts {
<script>
    var serviceUrl = 'https://localhost:5001/api/trains/getalltrains'; 

      $('#btn').click(function(){

        console.log("merge");
        $.ajax({
          type: 'GET',
          contentType: "application/json",
          url: 'https://localhost:5001/api/trains/getalltrains',
          dataType: 'json',
          success:function(data){
            $.each(data, function(index, val){
              emp.append('<li>' + val.rang + '</li>')
               console.log("merge 1");
            })
          },
          error:function(data){

              console.log("nu merge");
          }
        })
      });
</script>
}